@media (min-width: 1200px) {
  .formatted-lg {
    font-size: 15px;
    line-height: 24px;
  }

  .formatted-lg input,
  .formatted-lg label,
  .formatted-lg select {
    font-size: 15px;
    line-height: 24px;
  }

  .formatted-lg textarea,
  .formatted-lg input {
    font-size: 15px;
    line-height: 24px;
  }

  .formatted-lg textarea {
    max-width: 490px;
  }

  .formatted-lg .form {
    margin: 72px 0 12px 0;
  }

  .formatted-lg img,
  .formatted-lg iframe,
  .formatted-lg video,
  .formatted-lg .ce-element--type-image,
  .formatted-lg .ce-element--type-video,
  .formatted-lg [data-ce-tag=img] {
    margin-top: 18px;
  }

  .formatted-lg video,
  .formatted-lg iframe {
    width: 100vw !important;
    height: 75vw !important;
  }

  .formatted-lg .ce-element--type-image.above-heading,
  .formatted-lg img.above-heading,
  .formatted-lg [data-ce-tag=img].above-heading {
    margin-top: 48px;
  }

  .formatted-lg ul,
  .formatted-lg ol {
    margin-top: 18px;
  }

  .formatted-lg table {
    margin-top: 18px;
  }

  .formatted-lg table.v-head th:first-child,
  .formatted-lg table.v-head td:first-child {
    width: 200px;
  }

  .formatted-lg blockquote {
    font-size: 28px;
    line-height: 32px;
  }

  .formatted-lg blockquote {
    padding: 0 10px 0 55px;
  }

  .formatted-lg h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .formatted-lg h2 {
    margin: 48px 0 12px 0;
  }

  .formatted-lg h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .formatted-lg h3 {
    margin: 36px 0 12px 0;
  }

  .formatted-lg p {
    margin-top: 18px;
  }

  .formatted-lg pre {
    margin-top: 18px;
  }

  .formatted-lg p.definition {
    font-size: 18px;
    margin-top: 24px;
  }
}
